In [4]:
# Name: Prathima Mettu
# PeopleSoft ID: 2160335

In [5]:
import pandas as pd
import numpy as np

## part 1

In [6]:
#importing files 
a=pd.read_excel('github-login.xlsx')
b=pd.read_excel('github-login Copy.xlsx')

print(a.shape)
a.head()

(100, 3)

   Last Name      First Name           GitHub login email
0    Agrawal           Arpit                          NaN
1      Akula         Ashwini      ashwiniakulaa@gmail.com
2  Aljadaani            Sara                          NaN
3  ALJEBREEN         ALANOUD                          NaN
4     Ambati  Sai Sri Harsha  iharshachowdary19@gmail.com

In [7]:
print(b.shape)
b.head()

(88, 3)

   Last Name      First Name       GitHub login email
0    Agrawal           Arpit                      NaN
1      Akula         Ashwini  ashwiniakulaa@gmail.com
2  Aljadaani            Sara                      NaN
3  ALJEBREEN         ALANOUD                      NaN
4     Ambati  Sai Sri Harsha                      NaN

In [8]:
#combining two files
merged= a.append(b)
print(merged.shape)

(188, 3)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_26440\2834994534.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged= a.append(b)

In [9]:
#dropping duplicate rows 
merged['GitHub login email']=merged['GitHub login email'].str.split(',').str[0]
merged.drop_duplicates(subset=['GitHub login email'],keep="first",inplace=True)

In [10]:
#dropping rows with no email 
merged.dropna(subset=['GitHub login email'],inplace=True)

In [11]:
merged.sort_values(by=['Last Name'],inplace=True)

In [12]:
#exporting into a new file  
merged.to_csv("github-email.csv",index=False)

## Part 2

In [13]:
c=pd.read_csv('enroll-list.csv')
c.shape

(74, 2)

In [14]:
merged.shape

(72, 3)

In [15]:

new = c.merge(merged,how='left')
new.head()

  Last Name         First Name             GitHub login email
0     Akula            Ashwini        ashwiniakulaa@gmail.com
1    Ambati     Sai Sri Harsha    iharshachowdary19@gmail.com
2    Ammasi            Sandhya        sandhyaammasi@gmail.com
3    Atluri  Naga Satya Anusha         satyaatluri1@gmail.com
4    Badera           Himanshu  himanshubadera10398@gmail.com

In [16]:
new.shape

(74, 3)

In [17]:

for i in new.iterrows():
    if i[1][0]=="Bolla" and i[1][1]=="Suresh":
        i[1][2]= "sureshbolla999@gmail.com"
new.to_csv("enroll-github-email.csv")

## Part 3

In [18]:
#Reading the csv file
d=pd.read_csv('github-roster.csv')

In [19]:
print(d.shape)
d.head()

(75, 2)

  github_username         roster_identifier
0            xwu8                       NaN
1     usharanin26     usharanin26@gmail.com
2       vinay2294       vinay2294@gmail.com
3     GladeKeeper  onagnur@cougarnet.uh.edu
4            Ecyg      cyg1093065@gmail.com

In [20]:
new.head()

  Last Name         First Name             GitHub login email
0     Akula            Ashwini        ashwiniakulaa@gmail.com
1    Ambati     Sai Sri Harsha    iharshachowdary19@gmail.com
2    Ammasi            Sandhya        sandhyaammasi@gmail.com
3    Atluri  Naga Satya Anusha         satyaatluri1@gmail.com
4    Badera           Himanshu  himanshubadera10398@gmail.com

In [21]:
d=d.dropna(subset=['roster_identifier'])

In [22]:
#merging two files
output = pd.merge(new,d,how='left',left_on=['GitHub login email'],right_on=['roster_identifier'])
output.drop('roster_identifier',axis=1,inplace=True)

In [23]:
print(output.shape)
output.head()

(74, 4)

,Last Name,First Name,GitHub login email,github_username
0,Akula,Ashwini,ashwiniakulaa@gmail.com,AshwiniAkula
1,Ambati,Sai Sri Harsha,iharshachowdary19@gmail.com,SAISRIHARSHAAMBATI
2,Ammasi,Sandhya,sandhyaammasi@gmail.com,sandhyaammasi
3,Atluri,Naga Satya Anusha,satyaatluri1@gmail.com,NaN
4,Badera,Himanshu,himanshubadera10398@gmail.com,hbadera

In [24]:
#exporting into a new file
output.to_csv("assignment1-github-roster.csv",index=False)